<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal - Athena</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <main>
        <section class="banner">
            <article>
                <h2> Bem-Vinda, Júlia! </h2>
                <p>Aqui você pode ver <span id="bold">análises completas</span> dos seus alunos, <span id="bold">cadastrar avaliações</span> e <span id="bold">muito mais!</span></p>
            </article>
        </section>

        <section class="analises">
            <h3>Visualizar Análises</h3>
            <section class="analises_container">
                <input class="radio" id="one" name="group" type="radio" checked>
                <input class="radio" id="two" name="group" type="radio">

                <div class="tabs">
                    <label class="tab" id="tab-1" for="one">Turmas</label>
                    <label class="tab" id="tab-2" for="two">Alunos</label>
                </div>

                <div class="conteudos">
                    <div class="conteudo_tab" id="conteudo-1">
                        <p class="title">Acesse os resultados e as análises das suas turmas!</p>
                        <p>Para identificar os dados da suas turmas, como média geral, defasagem média e alunos da turma, além de receber sugestões personalizadas de Planos de Aula e Materiais Didáticos de acordo com a necessidade de cada sala, você pode acessar a página abaixo.</p>

                        <button class="botao-entrar">Ver Turmas</button>
                    </div>
                    <div class="conteudo_tab" id="conteudo-2">
                        <p class="title">Acesse os resultados e as análises dos seus alunos!</p>
                        <p>Para identificar os dados dos seus alunos individualmente, como média, defasagem e desempenho por habilidade específica, além de receber sugestões personalizadas de Materiais Didáticos, você pode acessar a página abaixo.</p>

                        <button class="botao-entrar">Ver Alunos</button>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
</html>