@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Work Sans', sans-serif;
    --fonte-secundaria: 'Lora', serif;
    --athena-col-primaria: #0A7585;
    --athena-bg-primaria: #0A7585;
    --athena-col-secundaria: #12AFC0;
    --athena-bg-secundaria: #12AFC0;
    --athena-col-terciaria: #71CFCE;
    --athena-bg-terciaria: #71CFCE;
    --athena-col-nova1: #E32459;
    --athena-bg-nova1: #E32459;
    --athena-col-nova2: #960840;
    --athena-bg-nova2: #960840;
    --athena-col-link: #32378F;
    --athena-bg-link: #32378F;
    --athena-bg-link-hover: #3a42d4; 
    --athena-col-link-hover: #3a42d4;
    --athena-bg-link: #32378F;
    --athena-col-success: #068A13;
    --athena-bg-success: #068A13;
    --athena-col-error: #DA2A20;
    --athena-bg-error: #DA2A20;
    --athena-col-alert: #F1AF43;
    --athena-bg-alert: #F1AF43;
    --athena-col-cinza-700: #282828;
    --athena-bg-cinza-700: #282828;
    --athena-col-dracula-4: #2D3436;
    --athena-bg-dracula-4: #2D3436;
    --athena-col-cinza-3: #9CA7AC;
    --athena-bg-cinza-3: #9CA7AC;
    --athena-col-cinza-4: #B2BEC3;
    --athena-bg-cinza-4: #B2BEC3;
    --athena-bg-header-turmas: #E7FFFE;
    --athena-bg-header-avaliacoes: #FCD4DF;
    --athena-bg-header-alunos: #D5A3F9;
    --cinza: #1E1E1E;
    --athena-bg-turmas: #71CFCE;
    --athena-col-turmas: #71CFCE;
    --athena-bg-alunos: #D5A3F9;
    --athena-bg-avaliacao: #E32459;
    --branco: #FFFF;
    --branco-verdadeiro: #fff;
    --preto: #000;
    --cor-do-filtro: #1e1e1ee8;
    --box-shadow: rgba(0, 0, 0, 0.7);
    --titulo-do-input: #463434;
    --imagem-seta: url('../assets/seta_baixo.png');
    --imagem-lixeira: url('../assets/lixeira.png');
    --imagem-lixeira-aberta: url('../assets/lixeiraAberta.png');
    --cabecalho: #000;
}

.darkMode {
    --branco: #263238;
    --branco-verdadeiro: #000;
    --preto: #FFFF;
    --cor-do-filtro: #fff;
    --box-shadow: rgba(255, 255, 255, 0.5);
    --titulo-do-input: #000;
    --imagem-seta: url('../assets/seta_baixo_branca.png');
    --imagem-lixeira: url('../assets/lixeiraBranca.png');
    --imagem-lixeira-aberta: url('../assets/lixeiraBrancaAberta.png');
    --cabecalho: var(--athena-col-nova1);
}

body {
    font-size: 18px;
    line-height: 22px;
    font-family: var(--fonte-principal);
    background-color: var(--branco);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonte-secundaria);
}

h1 {
    font-size: 2.5em;
    line-height: 3.3em;
}

h2 {
    font-size: 2em;
    line-height: 2.9em;
}

h3 {
    font-size: 1.1em;
    line-height: 2.4em;
}

p {
    font-size: 1em;
    font-family: var(--fonte-principal);
}

.botao_primario{
    background: var(--athena-bg-link);
    outline: none;
    border: none;
    color: white;
    width: 50%;
    border: 1px solid var(--preto);
    border-radius: 8px;
    height: 43px;
    margin-top: 1.3rem;
    transition: all ease .4s;
    box-shadow: 0px 2px 4px var(--box-shadow);
}

.botao_primario:hover {
    cursor: pointer;
    background-color: #545ceb;
}

.imagens {
    display: flex;
    margin-top: 10em;
}

@media screen and (min-width: 1024px) {
    .imagens {
        display: flex;
        margin-top: 0em;
        justify-content: space-between;
        width: 90%;
    }
}