hr {
    width: 100vw; 
    color: var(--athena-col-cinza-700);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--athena-col-cinza-700);
    width: 100%;
}

.nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.nav_menu_botao {
    display: none;
}

.nav_menu_botao:checked ~ .nav_lista {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    gap: 1em;
}

.nav_lista {
    display: none;
}

.nav_lista_botao_turmas, 
.nav_lista_botao_avaliacoes,
.nav_lista_botao_alunos {
    display: none; 
}

.elemento {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 1em;
}

.nav_lista_turmas {
    display: none;
}

.nav_lista_avaliacoes {
    display: none;
}

.nav_lista_alunos {
    display: none;
}

.nav_lista_botao_turmas:checked ~ .nav_lista_turmas {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: .4em;
    background: var(--athena-bg-header-turmas);
    background-clip: border-box;
    background-position: center;
    margin-bottom: -1em;
    padding-bottom: 1em;
}

.nav_lista_botao_avaliacoes:checked ~ .nav_lista_avaliacoes {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: .4em;
    background: var(--athena-bg-header-avaliacoes);
    background-clip: border-box;
    background-position: center;
    margin-bottom: -1em;
    padding-bottom: 1em;
}

.nav_lista_botao_alunos:checked ~ .nav_lista_alunos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: .4em;
    background: var(--athena-bg-header-alunos);
    background-clip: border-box;
    background-position: center;
    margin-bottom: -1em;
    padding-bottom: 1em;
}

.nav_lista_elemento {
    display: flex;
    justify-content: space-between; 
}

.nav_lista_dropdown_turmas,
.nav_lista_dropdown_avaliacoes, 
.nav_lista_dropdown_alunos {
    margin-left: 1em;
}

.seta {
    width: 20px;
    margin-right: 1em;
}

.nav_lista_icone {
    width: 20px;
}

.quebra_linha {
    border-width: 1px 0 0;
}

.logo {
    margin-right: 2.5em; 
    width: 100px;
    height: auto;
}

.perfil {
    width: 37px;
    margin-right: 14px;
}