.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: auto;
}

.conteudo_logo {
    margin-top: 2em;
    width: 20em;
    float: left;
}

.conteudo_titulo {
    font-size: 3.5em;
    text-align: left;
    margin-left: 0.2em;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
    margin-right: 3.4em;
}

.conteudo_input {
    float: left;
    margin-left: .6em;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 330px;
    margin-bottom: 1em;
}

.input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: var(--azul);
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--azul);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}

.conteudo_esqueceu {
    float: left;
    margin-bottom: 2.5em;
    margin-right: 11em
}

.sei_la {
    position: relative;
    height: 55vh;
}

.button-28 {
    appearance: none;
    background-color: white;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
    will-change: transform;
    position: absolute;
    left: 34%;
    margin-bottom: 5em;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: white;
    background-color: var(--azul);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

button {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
    margin-top: 6em;
    margin-left: 15%;
}

.button svg {
    height: 24px;
}

button:hover {
    transform: scale(1.02);
}

.cadastro {
    margin-top: 2em;
    margin-left: 1.5em;
    margin-left: 2.2em;
}

.criar_conta {
    margin-top: 2em;
}

.criar_conta:hover {
    background-color: var(--cinza);
}

.imagens {
    display: flex;
    margin-top: 10em;
}

.conteudo_inteli {
    height: auto;
}

@media screen and (min-width: 768px) {
    .conteudo {
        align-items: center;
    }

    .conteudo_titulo {
        margin-right: auto;
    }

    .conteudo_esqueceu {
        margin-right: 11.7em;
    }

    .cadastro {
        margin-left: 2.5em;
    }
}


@media screen and (min-width: 1024px) {
    .conteudo_logo {
        display: none;
        width: 70%;
    }

    .conteudo_titulo {
        margin-right: auto;
        font-size: 2vw;
    }

    .conteudo {
        background-image: url(../assets/athena\ background.png);
        background-repeat: no-repeat;
        background-color: white;
        background-size: 128vh;
        margin: 4vh 0 0 4vw;
        box-shadow: -10px 10px 100px 0px #00000080;
        align-items: center;
        background-position: center;
        height: 92vh;
        width: 92vw;
    }

    .conteudo_esqueceu {
        float: left;
        margin-left: 0.4vw;
        font-size: 1vw;
    }

    .cadastro {
        margin-left: 7vw;
    }

    .conteiner_login {
        margin-top: 1vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 90vh;
        width: 30vw;
    }

    .conteudo_input {
        float: left;
        margin-left: .6em;

    }

    .input-container {
        position: relative;
        margin: 3vw auto;
        width: 20vw;
        height: auto;
        margin-bottom: 0.3vw;
    }

    .input-container input[type="text"] {
        font-size: 1.55vw;
        width: 100%;
        border: none;
        border-bottom: 0.1em solid black;
        padding: 0.4vw 0;
        background-color: transparent;
        outline: none;
    }

    .input-container .label {
        position: absolute;
        top: 0;
        left: 0;
        color: black;
        transition: all 0.3s ease;
        pointer-events: none;
        font-size: 1vw;
    }

    .input-container input[type="text"]:focus~.label,
    .input-container input[type="text"]:valid~.label {
        top: -20px;
        font-size: 1.1vw;
        color: var(--azul);
    }

    .input-container .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.2vw;
        width: 100%;
        background-color: var(--azul);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }

    .sei_la {
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 60vw;
        width: 18vw;
        background-color: #1A1A1A;
    }

    .button-28 {
        position: relative;
        left: 0;
        font-size: 1vw;
        padding: 0px 0px;
        text-align: center;
        margin-bottom: 4vw;
        height: 3.8vw;
        width: 13vw;
        max-width: none;
        border-radius: 1vw;
        min-height: 56px;
        min-width: 96px;
    }

    .button-28:disabled {
        pointer-events: none;
    }

    .button-28:hover {
        color: white;
        background-color: var(--azul);
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-0.3vw);
    }

    .button-28:active {
        box-shadow: none;
    }

    button {
        font-size: 1vw;
        line-height: 1.25rem;
        font-weight: 700;
        width: 18vw;
        height: 3vw;
        max-width: none;
        max-height: none;
        border-radius: 0.5vw;
        gap: 0.8vw;
        padding: 0.4rem 1.3vw;
        margin-top: 0;
        margin-left: 0;
    }

    .button svg {
        height: 1.8vw;
        ;
    }

    button:hover {
        transform: scale(1.02);
    }

    .cadastro {
        margin-top: 1vw;
        margin-left: 0;
        font-size: 1vw;
    }

    .imagens {
        display: flex;
        margin-top: 0;
    }

    .conteudo_inteli {
        position: relative;
        left: 30vw;
        width: 18vw;
        height: 8vw;
    }

    .conteudo_novaEscola {
        position: relative;
        right: 28vw;
        width: 15vw;
        height: 9vw;
    }
}