body {
    background-color: var(--athena-bg);
}

a {
    color: var(--athena-col-link);
}

legend {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: auto;
}

.conteudo_logo {
    margin-top: 2em;
    width: 20em;
    float: left;
}

.conteudo_titulo {
    font-size: 3.5em;
    text-align: left;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
    margin-right: auto;
}

.conteudo_input {
    float: left;
    margin-left: .6em;
}

.conteiner_login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 330px;
    margin-bottom: 1em;
}

.input-container input[type="password"], .input-container input[type="email"] {
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="password"]:focus~.label, .input-container input[type="email"]:focus~.label,
.input-container input[type="password"]:valid~.label {
    top: -20px;
    font-size: .8em;
    color: var(--athena-col-link);
}

.input-container input[type="email"]:not(:placeholder-shown) ~ .label {
    top: -20px;
    font-size: .8em;
    color: var(--athena-col-link);
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--athena-col-link);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="password"]:focus~.underline, .input-container input[type="email"]:focus~.underline,
.input-container input[type="password"]:valid~.underline, .input-container input[type="email"]:valid~.underline {
    transform: scaleX(1);
}

.conteudo_esqueceu {
    float: left;
    margin-bottom: 2.5em;
    margin-top: 1rem;
}

.sei_la {
    position: relative;
    height: 55vh;
}

.cadastro {
    margin-top: 2em;
}

.criar_conta {
    margin-top: 2em;
}

.criar_conta:hover {
    background-color: var(--cinza);
}

.imagens {
    display: flex;
    margin-top: 10em;
}

.conteudo_inteli {
    width: 185px;
}

.conteiner_login {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}


.imagens {
    display: flex;
    margin-top: 5rem;
}

.botao-entrar {
    background: var(--athena-bg-link);
    outline: none;
    border: none;
    color: #FFFFFF;
    width: 50%;
    border: 1px solid #000000;
    border-radius: 8px;
    height: 43px;
    margin-top: 1.3rem;
    transition: all ease .4s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.botao-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-top: 2rem;
    background-color: transparent;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao-entrar:hover, .botao-google:hover {
    cursor: pointer;
}

.botao-entrar:hover {
    padding: .5rem;
    background-color: #545ceb;
}

.svg-google {
    width: 20px;
    margin-right: .5rem;
}

@media screen and (min-width: 768px) {
    .conteudo {
        align-items: center;
    }

    .conteudo_titulo {
        margin-right: auto;
    }
}


@media screen and (min-width: 1024px) {
    .conteudo_logo {
        display: none;
        width: 70%;
    }

    .conteudo_titulo {
        margin-right: auto;
    }

    .botao-entrar {
        width: 70%;
        height: 35px;
    }
    
    .botao-google {
        width: 50%;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .conteudo {
        background-image: url(../assets/athena\ background.png);
        background-repeat: no-repeat;
        background-color: white;
        background-size: 128vh;
        margin: 4vh 0 0 4vw;
        box-shadow: -10px 10px 100px 0px #00000080;
        align-items: center;
        justify-content: center;
        background-position: center;
        height: 92vh;
        width: 92vw;
    }

    .conteudo_esqueceu {
        float: left;
        font-size: .5rem;
    }

    .conteiner_login {
        margin-top: 1vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 90vh;
        width: 30vw;
        justify-content: center;
    }

    .conteudo_input {
        margin-left: 0rem;
    }

    .input-container {
        position: relative;
        margin: 3vw auto;
        width: 20vw;
        height: auto;
        margin-bottom: 0.3vw;
    }

    .input-container input[type="password"], .input-container input[type="email"] {
        font-size: 1em;
        width: 100%;
        border: none;
        border-bottom: 0.1em solid black;
        padding: 0.4vw 0;
        background-color: transparent;
        outline: none;
    }

    .input-container .label {
        position: absolute;
        top: 0;
        left: 0;
        color: black;
        transition: all 0.3s ease;
        pointer-events: none;
        font-size: 1vw;
    }

    .input-container .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.2vw;
        width: 100%;
        background-color: var(--athena-col-link);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }

    .cadastro {
        margin-top: 1vw;
        font-size: 1vw;
    }

    .imagens {
        display: flex;
        margin-top: 0;
    }

    .conteudo_inteli {
        position: relative;
        left: 29vw;
        width: 18vw;
        height: 8vw;
    }

    .conteudo_novaEscola {
        position: relative;
        right: 28vw;
        width: 15vw;
        height: 9vw;
    }
}