.dados_titulo {
    font-size: 36px;
    text-align: center;
}

.dados_imagem {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.dados_editar_foto {
    display: flex;
    justify-content: center;
    color: var(--athena-col-link);
    font-size: 14px;
}

.dados_editar_foto:hover {
    color: var(--athena-col-link-hover);
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_input {
    margin-bottom: 1em;
}

.container_login_form, .container_cadastro_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    width: 330px;
    margin-bottom: 1em;
}

.input-container input {
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="password"]:focus~.label, .input-container input[type="email"]:focus~.label,
.input-container input[type="password"]:valid~.label, .input-container input[type="text"]:valid~.label,
.input-container input[type="text"]:focus~.label {
    top: -20px;
    font-size: .8em;
    color: var(--athena-col-link);
}

.input-container input[type="email"]:not(:placeholder-shown) ~ .label, .input-container input[type="password"]:not(:placeholder-shown) ~ .label {
    top: -20px;
    font-size: .8em;
    color: var(--athena-col-link);
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--athena-col-link);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="password"]:focus~.underline, .input-container input[type="email"]:focus~.underline,
.input-container input[type="text"]:focus~.underline, .input-container input[type="text"]:valid~.underline,
.input-container input[type="password"]:valid~.underline, .input-container input[type="email"]:valid~.underline {
    transform: scaleX(1);
}

.trocar_senha {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editar_dados {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
    margin-left: 1em;
}

.botao_cinza {
    background-color: var(--athena-col-cinza-3);
    width: 140px;
}

.botao_cinza:hover {
    background-color: var(--athena-col-cinza-4);
}

.botao_voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}