body {
    background-color: var(--athena-bg);
}

a {
    color: var(--athena-col-link);
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_dados_titulo{
    display: flex;
    align-content: center;
}

.conteudo_titulo_dados_texto{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;

  
}

/*estilo imagem da persona e edição da foto*/
.conteudo_foto_dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3.5em;
}

.conteudo_foto_imagem_dados {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translate(1.15em);
    margin-bottom: 1em;
    margin-left: -50px;
    bottom: 1px;
}

.conteudo_foto_botao_dados {
    display: flex;
    align-items: center;
    padding: 9px 12px;
    gap: 1.25em;
    transform: translate(2.5em);
    height: 40px;
    width: 172px;
    border: none;
    background: var(--athena-col-primaria);
    border-radius: 20px;
    cursor: pointer;
    margin-left: -64px;
}

.conteudo_foto_botao_gap_dados {
    gap: 16em;
}

.conteudo_foto_botao_label_dados {
    line-height: 1.5em;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
}


/*estilo formulario de dados*/


.container_dados_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container-dados {
    position: relative;
    margin: 50px auto;
    width: 330px;
    margin-bottom: 1em;
}

.input-container-dados input {
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container-dados .label {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container-dados input[type="email"]:focus~.label, .input-container-dados input[type="name"]:focus~.label,
.input-container-dados input[type="email"]:valid~.label, .input-container-dados input[type="text"]:valid~.label,
.input-container-dados input[type="text"]:focus~.label {
    top: -20px;
    font-size: 1.0em;
    color: var(--athena-col-link);
}

.input-container-dados input[type="email"]:not(:placeholder-shown) ~ .label, .input-container-dados input[type="email"]:not(:placeholder-shown) ~ .label {
    top: -20px;
    font-size: 1.8em;
    color: var(--athena-col-link);
}

.input-container-dados .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--athena-col-link);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container-dados input[type="email"]:focus~.underline, .input-container-dados input[type="name"]:focus~.underline,
.input-container-dados input[type="text"]:focus~.underline, .input-container-dados input[type="text"]:valid~.underline,
.input-container-dados input[type="email"]:valid~.underline, .input-container-dados input[type="name"]:valid~.underline {
    transform: scaleX(1);
}

.botao-trocar-senha {
    background-color: #210A4B;
    color: white;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 8px;
    height: 43px;
    margin-top: 1.3rem;
    transition: all ease .4s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.botao-editar-dados {
    background-color: #210A4B;
    color: white;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 8px;
    height: 43px;
    margin-top: 1.3rem;
    transition: all ease .4s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.sair-conta{
    background-color: #63666A;
    color: white;
    width: 45%;
    border: 1px solid #000000;
    border-radius: 8px;
    height: 43px;
    margin-top: 1.3rem;
    transition: all ease .4s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0 , 0.5);

}

.deletar-conta{
    background-color: #63666A;
    color: white;
    width: 45%;
    border: 1px solid #000000;
    border-radius: 8px;
    height: 43px;
    margin-top: 1.3rem;
    transition: all ease .4s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0 , 0.5);


}
.botoes-sair-deletar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.voltar-conta{
    background-color: #63666A;
    color: white;
    width: 45%;
    border: 1px solid #000000;
    border-radius: 8px;
    height: 43px;
    margin-top: 1.3rem;
    transition: all ease .4s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0 , 0.5);
    margin-left: 5rem;

}



/*.sair-conta{
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 42px;
    left: 710px;
    top: 780px;
    color: #fff;
    background: #63666A;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}


.deletar-conta{
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 42px;
    left: 940px;
    top: 780px;
    color: #fff;
    background: #63666A;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.voltar-botao{
    box-sizing: border-box;

    position: absolute;
    width: 140px;
    height: 42px;
    left: 825px;
    top: 850px;
    color: #fff;
    background-color: #63666A;
    border: 1px solid #000000;
    border-radius: 8px;
}/*