body {
    background-color: var(--athena-bg);
}

a {
    color: var(--athena-col-link);
}

legend {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_logo {
    margin-top: 2em;
    margin-bottom: -1em;
    width: 20em;
    float: left;
}

.conteudo_titulo {
    text-align: center;
    margin-bottom: -1.2em;
}

.conteudo_input_dados {
    float: left;
    margin-left: .6em; 
}

.container_dados_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.input-container-dados {
    position: relative;
    margin: 50px auto;
    width: 330px;
    margin-bottom: 1em;
}

.input-container-dados input {
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container-dados .label {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    transition: all 0.3s ease;
    pointer-events: none;
}
.input-container-dados input[type="name"]:focus~.label, .input-container input[type="email"]:focus~.label,
.input-container-dados input[type="name"]:valid~.label, .input-container input[type="text"]:valid~.label,
.input-container-dados input[type="text"]:focus~.label {
    top: -20px;
    font-size: .8em;
    color: var(--athena-col-link);

}
.input-container-dados input[type="email"]:not(:placeholder-shown)~ .label {
    top: -10px;
    font-size: .8em;
    color: var(--athena-col-link);
}

.input-container-dados .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100px;
    background-color: var(--athena-col-link);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="name"]:focus~.underline, .input-container input[type="email"]:focus~.underline,
.input-container input[type="text"]:focus~.underline, .input-container input[type="text"]:valid~.underline,
.input-container input[type="nameß"]:valid~.underline, .input-container input[type="email"]:valid~.underline {
    transform: scaleX(1);
} 




