<!DOCTYPE html> 
<html lang="pt-br"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Aluno</title>
    <link rel="stylesheet" href="..\css\aluno.css"> 
    <link rel="stylesheet" href="..\css\styles.css">
</head> 
<body>
    <h1 class="aluno">Nome do Aluno</h1> 
    <p class="media">Média: XX</p> 
    <p class="defasagem">Defasagem: XX</p> 
    <p class="comportamento">Comportamento: #tag #tag #tag</p> 
    <h2 class="sobre_aluno_titulo">Sobre o Aluno</h2>
    <p class="grafico">Gráfico da Média</p>
    <button class="botao_primario">Detalhar</button>
    <p class="grafico">Gráfico da Defasagem</p>
    <button class="botao_primario">Detalhar</button>

    <h2 class="habilidades_titulo">Habilidades por Assuntos</h2>
    <div class="habilidade">
        <img class="habilidade_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
        <div class="habilidade_divisao">
            <h3 class="habilidade_titulo">Nome da Habilidade/Assunto</h3>
            <p class="desempenho">Desempenho: XX  %</p>

        </div>
    </div>

    <div class="habilidade">
        <img class="habilidade_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
        <div class="habilidade_divisao">
            <h3 class="habilidade_titulo">Nome da Habilidade/Assunto</h3>
            <p class="desempenho">Desempenho: XX %</p>

        </div>
    </div>
    <div class="habilidade">
        <img class="habilidade_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
        <div class="habilidade_divisao">
            <h3 class="habilidade_titulo">Nome da Habilidade/Assunto</h3>
            <p class="desempenho">Desempenho: XX %</p>

        </div>
    </div>
    <div class="habilidade">
        <img class="habilidade_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
        <div class="habilidade_divisao">
            <h3 class="habilidade_titulo">Nome da Habilidade/Assunto</h3>
            <p class="desempenho">Desempenho: XX %</p>

        </div>
    </div>
    <h2 class="planos_titulo">Planos de Aula Recomendados</h2>
    <div class="plano">
        <img class="plano_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
        <div class="plano_divisao">
            <p class="plano_conteudo1">Lorem ipsum dolor </p>
            <h3 class="plano_titulo">Lorem ipsum dolor sit amet, consectetur</h3>
            <p class="plano_conteudo">Lorem ipsum</p>
        </div>
    </div>

    <div class="plano">
        <img class="plano_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
        <div class="plano_divisao">
            <p class="plano_conteudo1">Lorem ipsum dolor </p>
            <h3 class="plano_titulo">Lorem ipsum dolor sit amet, consectetur</h3>
            <p class="plano_conteudo">Lorem ipsum </p>
        </div>
    </div>
<button class="botao_primario">Editar</button>
<%- include('partials/libras') %>
</body>