<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/avaliacoes.css">
</head>
<body>
    <h1 class="avaliacoes_titulo">Avaliações</h1>
    <div class="filtro">
        <input class="filtro_botao" type="checkbox" id="filtro">
        <label for="filtro" class="filtro_header">Matéria</label>
        <div class="filtro_lista">
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 1">
                <label class="label" for="teste 1">teste 1</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 2">
                <label class="label" for="teste 2">teste 2</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 3">
                <label class="label" for="teste 3">teste 3</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 4">
                <label class="label" for="teste 4">teste 4</label>
            </div>
        </div>
    </div>
    <div class="filtro">
        <input class="filtro_botao" type="checkbox" id="filtro2">
        <label for="filtro2" class="filtro_header">Turmas</label>
        <div class="filtro_lista">
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 1">
                <label class="label" for="teste 1">teste 1</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 2">
                <label class="label" for="teste 2">teste 2</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 3">
                <label class="label" for="teste 3">teste 3</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 4">
                <label class="label" for="teste 4">teste 4</label>
            </div>
        </div>
    </div>
    <div class="materias">
        <div class="materia">
            <img class="materia_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
            <div class="materia_divisao">
                <h3 class="materia_titulo">Avaliação 1</h3>
                <p class="materia_conteudo">Média Geral: XX</p>
                <p class="materia_conteudo">Defasagem Média: XX</p>
                <a class="materia_link" href="#">Ver Avaliação</a>
            </div>
        </div>
        <div class="materia">
            <img class="materia_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
            <div class="materia_divisao">
                <h3 class="materia_titulo">Avaliação 2</h3>
                <p class="materia_conteudo">Média Geral: XX</p>
                <p class="materia_conteudo">Defasagem Média: XX</p>
                <a class="materia_link" href="#">Ver Avaliação</a>
            </div>
        </div>
        <div class="materia">
            <img class="materia_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
            <div class="materia_divisao">
                <h3 class="materia_titulo">Avaliação 3</h3>
                <p class="materia_conteudo">Média Geral: XX</p>
                <p class="materia_conteudo">Defasagem Média: XX</p>
                <a class="materia_link" href="#">Ver Avaliação</a>
            </div>
        </div>
        <div class="materia">
            <img class="materia_imagem" src="../assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
            <div class="materia_divisao">
                <h3 class="materia_titulo">Avaliação 4</h3>
                <p class="materia_conteudo">Média Geral: XX</p>
                <p class="materia_conteudo">Defasagem Média: XX</p>
                <a class="materia_link" href="#">Ver Avaliação</a>
            </div>
        </div>
    </div>
    <div class="seletor_pagina">
        <a href="#"><img class="seta" src="../assets/icone_seta_esquerda.png" alt="Ícone seta esquerda"></a>
        <p>Página X de XX</p>
        <a href="#"><img class="seta" src="../assets/icone_seta_direita.png" alt="Ícone seta direita"></a>
    </div>
</body>
</html>