<!DOCTYPE html> 
<html lang="pt-br"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Avaliação</title>
    <link rel="stylesheet" href="..\css\avaliacao.css"> 
    <link rel="stylesheet" href="..\css\styles.css">
</head> 
<body>
    <h1 class="avaliacao">Avaliação 1</h1>
    <%- include('partials/libras') %> 
    <p class="media">Média Geral: XX</p> 
    <p class="defasagem">Defasagem Geral: XX</p> 

    <h2 class="titulo">Nota dos alunos</h2>
    <div class="barra_pesquisa">
        <input type="text" placeholder="Buscar por nome">
        <button class= "botao_pesquisa "><img class= "icone_pesquisar" src="../assets/icone_pesquisar.png" alt= "ícone pesquisar"></button>
    </div>
    <br>
    <div class="barra_filtrar">
        <input type="text" placeholder="Filtrar por...">
        <button class= "botao_filtrar "><img class= "icone_filtrar" src="../assets/icone_filtrar.png" alt= "ícone filtrar"></button>
    </div>
    <br>
    <ul class="lista_alunos">
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 1 <br> Média:XXX</li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 2 <br> Média:XXX</li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 3 <br> Média:XXX</li> 
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 4 <br> Média:XXX</li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 5 <br> Média:XXX</li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 6 <br> Média:XXX</li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 7 <br> Média:XXX</li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 8 <br> Média:XXX</li> 
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 9 <br> Média:XXX</li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 10 <br> Média:XXX</li>
    </ul>
    <button class="botao_primario">Ver Todos</button>
</body> 
</html> 