<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cadastrar Assunto</title>
    <link rel="stylesheet" href="../css/cadastrarAssunto.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/cabecalho.js"></script>
</head>

<body>
    <%- include('cabecalho') %>
    <main>
        <h1 class="cadastrarAssunto">Cadastrar Assunto</h1>
        <form class="form_assunto" action="" method="post" enctype="application/x-www-form-urlencoded">
            <fieldset class="form_input">
                <input type="text" id="titulo-assunto" name="tituloAssunto" required="">
                <label for="titulo-assunto">
                    <span style="transition-delay:0ms">T</span><span style="transition-delay:50ms">í</span><span
                        style="transition-delay:100ms">t</span><span style="transition-delay:150ms">u</span><span
                        style="transition-delay:200ms">l</span><span style="transition-delay:250ms">o</span><span
                        style="transition-delay:300ms">&nbsp;</span><span style="transition-delay:350ms">d</span><span
                        style="transition-delay:400ms">o</span><span style="transition-delay:450ms">&nbsp;</span><span
                        style="transition-delay:500ms">A</span><span style="transition-delay:550ms">s</span><span
                        style="transition-delay:600ms">s</span><span style="transition-delay:650ms">u</span><span
                        style="transition-delay:700ms">n</span><span style="transition-delay:750ms">t</span><span
                        style="transition-delay:800ms">o</span>
                </label>
            </fieldset>

            <fieldset class="form_disciplina">
                <h4 class="titulo_selecao_de_materia">Selecione a matéria</h4>
                <select class="selecao_de_materia">
                    <option value="opcao1">Matéria 1</option>
                </select>
            </fieldset>
            <button class="botao_primario" type="submit">Cadastrar</button>
        </form>
        
    </main>
</body>

</html>