<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Avaliação</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/cadastrarAvaliacao.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/cabecalho.js"></script>
</head>
<body>
    <%- include('cabecalho') %>
    <main>
    <h1 class="cadastrar_avaliacao_titulo">Cadastrar Avaliação</h1> 
    <form class="form_avaliacao" action="" method="POST" enctype="application/x-www-form-urlencoded">
        <fieldset class="form_input">
            <input type="text" id="nome-turma" name="nomeTurma" required="">
            <label for="nome-turma">
                <span style="transition-delay:0ms">T</span><span style="transition-delay:50ms">í</span><span
                    style="transition-delay:100ms">t</span><span style="transition-delay:150ms">u</span><span
                    style="transition-delay:100ms">l</span><span style="transition-delay:150ms">o</span><span
                    style="transition-delay:200ms">&nbsp;</span><span style="transition-delay:250ms">d</span><span
                    style="transition-delay:300ms">a</span><span style="transition-delay:350ms">&nbsp;</span><span
                    style="transition-delay:400ms">A</span><span style="transition-delay:450ms">v</span><span
                    style="transition-delay:500ms">a</span><span style="transition-delay:550ms">l</span><span
                    style="transition-delay:600ms">i</span><span style="transition-delay:600ms">a</span><span
                    style="transition-delay:600ms">ç</span><span style="transition-delay:600ms">ã</span><span
                    style="transition-delay:600ms">o</span>
            </label>
        </fieldset>
        <fieldset class="form_materia">
            <label for="materia" class="titulo_selecao_da_materia">Disciplina</label>
            <select id="materia" class="selecao_de_materia" name="disciplina" required>
                <option value="" selected disabled hidden>Selecione</option>
            </select>
        </fieldset>
        <fieldset class="form_materia">
            <label for="serie" class="titulo_selecao_da_materia">Série</label>
            <select id="serie" class="selecao_de_materia" name="serieTurma" required>
                <option value="" selected disabled hidden>Selecione</option>
                <option value="6">6º ano</option>
                <option value="7">7º ano</option>
                <option value="8">8º ano</option>
                <option value="9">9º ano</option>
            </select>
        </fieldset>
    
        <div class="assuntos_abordados">
            <div class="titulo">
                <h2 class="assuntos_titulo">Assuntos Abordados</h2>
                <hr class="divisor">
            </div>
            <div class="assuntos_lista">
                <div class="assuntos_lista_checkbox">
                    <input class="assuntos_checkbox" type="checkbox" id="assunto 1">
                    <label class="assuntos_label" for="assunto 1">Assunto 1</label>
                </div>
                <div class="assuntos_lista_checkbox">
                    <input class="assuntos_checkbox" type="checkbox" id="assunto 2">
                    <label class="assuntos_label" for="assunto 2">Assunto 2</label>
                </div>
                <div class="assuntos_lista_checkbox">
                    <input class="assuntos_checkbox" type="checkbox" id="assunto 3">
                    <label class="assuntos_label" for="assunto 3">Assunto 3</label>
                </div>
                <div class="assuntos_lista_checkbox">
                    <input class="assuntos_checkbox" type="checkbox" id="assunto 4">
                    <label class="assuntos_label" for="assunto 4">Assunto 4</label>
                </div>
                <div class="assuntos_lista_checkbox">
                    <input class="assuntos_checkbox" type="checkbox" id="assunto 5">
                    <label class="assuntos_label" for="assunto 5">Assunto 5</label>
                </div>
            </div>
        </div>
        <fieldset class="form_input">
            <input type="number" id="quant-questoes" name="quantQuestoes" required="">
            <label for="quant-questoes">
                <span style="transition-delay:0ms">Q</span><span style="transition-delay:50ms">u</span><span
                    style="transition-delay:100ms">a</span><span style="transition-delay:150ms">n</span><span
                    style="transition-delay:100ms">t</span><span style="transition-delay:150ms">i</span><span
                    style="transition-delay:100ms">d</span><span style="transition-delay:150ms">a</span><span
                    style="transition-delay:100ms">d</span><span style="transition-delay:150ms">e</span><span
                    style="transition-delay:200ms">&nbsp;</span><span style="transition-delay:250ms">d</span><span
                    style="transition-delay:300ms">e</span><span style="transition-delay:350ms">&nbsp;</span><span
                    style="transition-delay:400ms">Q</span><span style="transition-delay:450ms">u</span><span
                    style="transition-delay:500ms">e</span><span style="transition-delay:550ms">s</span><span
                    style="transition-delay:600ms">t</span><span style="transition-delay:600ms">õ</span><span
                    style="transition-delay:600ms">e</span><span style="transition-delay:600ms">s</span>
            </label>
        </fieldset>

        <h2 class="questoes_por_assunto_titulo">Questões por Assunto</h2>

        <div class="questoes_por_assunto">
            <div class="assunto">
                <p class="assunto_nome">Assunto 3</p>
                <input class="assunto_input" type="number" name="assunto" id="assunto 3" placeholder="Quantidade">
            </div>
            <div class="assunto">
                <p class="assunto_nome">Assunto 4</p>
                <input class="assunto_input" type="number" name="assunto" id="assunto 4" placeholder="Quantidade">
            </div>
        </div> 

        <button class="botao_primario botao_cadastrar">Cadastrar</button>
    </form>
    </main>
</body>
</html>