<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Avaliação</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/cadastrarAvaliacao.css">
</head>
<body>
   <h1 class="cadastrar_avaliacao_titulo">Cadastrar Avaliação</h1> 
    <fieldset class="conteudo_input">
        <div class="input-container">
            <input type="email" id="input-email" name="emailProfessor" placeholder=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="email inválido" required="">
            <label for="input-email" class="label">Título da Avaliação</label>
            <div class="underline"></div>
        </div>
    </fieldset>
    <div class="filtro">
        <input class="filtro_botao" type="checkbox" id="filtro">
        <label for="filtro" class="filtro_header">Matéria</label>
        <div class="filtro_lista">
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 1">
                <label class="label" for="teste 1">teste 1</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 2">
                <label class="label" for="teste 2">teste 2</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 3">
                <label class="label" for="teste 3">teste 3</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 4">
                <label class="label" for="teste 4">teste 4</label>
            </div>
        </div>
    </div>
    <div class="filtro">
        <input class="filtro_botao" type="checkbox" id="filtro2">
        <label for="filtro2" class="filtro_header">Série</label>
        <div class="filtro_lista">
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 1">
                <label class="label" for="teste 1">teste 1</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 2">
                <label class="label" for="teste 2">teste 2</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 3">
                <label class="label" for="teste 3">teste 3</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 4">
                <label class="label" for="teste 4">teste 4</label>
            </div>
        </div>
    </div>

    <div class="assuntos_abordados">
        <div class="titulo">
            <h2 class="assuntos_titulo">Assuntos Abordados</h2>
            <hr class="divisor">
        </div>
        <div class="assuntos_lista">
            <div class="assuntos_lista_checkbox">
                <input class="assuntos_checkbox" type="checkbox" id="assunto 1">
                <label class="assuntos_label" for="assunto 1">Assunto 1</label>
            </div>
            <div class="assuntos_lista_checkbox">
                <input class="assuntos_checkbox" type="checkbox" id="assunto 2">
                <label class="assuntos_label" for="assunto 2">Assunto 2</label>
            </div>
            <div class="assuntos_lista_checkbox">
                <input class="assuntos_checkbox" type="checkbox" id="assunto 3">
                <label class="assuntos_label" for="assunto 3">Assunto 3</label>
            </div>
            <div class="assuntos_lista_checkbox">
                <input class="assuntos_checkbox" type="checkbox" id="assunto 4">
                <label class="assuntos_label" for="assunto 4">Assunto 4</label>
            </div>
            <div class="assuntos_lista_checkbox">
                <input class="assuntos_checkbox" type="checkbox" id="assunto 5">
                <label class="assuntos_label" for="assunto 5">Assunto 5</label>
            </div>
        </div>
    </div>
    <fieldset class="conteudo_input">
        <div class="input-container">
            <input type="email" id="input-email" name="emailProfessor" placeholder=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="email inválido" required="">
            <label for="input-email" class="label">Quantidade de Questões</label>
            <div class="underline"></div>
        </div>
    </fieldset>

    <h2 class="questoes_por_assunto_titulo">Questões por Assunto</h2>
    <hr class="divisor">

    <div class="questoes_por_assunto">
        <div class="assunto">
            <p class="assunto_nome">Assunto 3</p>
            <input class="assunto_input" type="number" name="assunto" id="assunto 3" placeholder="Quantidade">
        </div>
        <div class="assunto">
            <p class="assunto_nome">Assunto 4</p>
            <input class="assunto_input" type="number" name="assunto" id="assunto 4" placeholder="Quantidade">
        </div>
    </div> 

    <button class="botao_primario botao_cadastrar">Cadastrar</button>
</body>
</html>