<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('partials/head') %>
    <title>Athena ◆ Página Principal</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <%- include('partials/cabecalho') %>
    <main>
        <section class="banner">
            <article>
                <h2>Bom te ver, <%= nome %>!</h2>
                <p>Aqui você pode ver <span id="bold">análises completas</span> dos seus alunos, <span id="bold">cadastrar avaliações</span> e <span id="bold">muito mais!</span></p>
            </article>
        </section>
        <%- include('partials/libras') %>
        <section class="analises">
            <h3 style="color: var(--preto); letter-spacing: 1.5px;">Visualizar Análises</h3>
            <section class="analises_container">
                <input class="radio" id="one" name="group" type="radio" checked>
                <input class="radio" id="two" name="group" type="radio">

                <div class="tabs">
                    <label class="tab" id="tab-1" for="one">Turmas</label>
                    <label class="tab" id="tab-2" for="two">Alunos</label>
                </div>

                <div class="conteudos">
                    <div class="conteudo_tab" id="conteudo-1">
                        <p class="title">Acesse os resultados e as análises das suas turmas!</p>
                        <p>Para identificar os dados da suas turmas, como média geral, defasagem média e alunos da turma, além de receber sugestões personalizadas de Planos de Aula e Materiais Didáticos de acordo com a necessidade de cada sala, você pode acessar a página abaixo.</p>

                        <button class="botao_primario" onclick="window.location.href='/turmas'">Ver Turmas</button>
                    </div>
                    <div class="conteudo_tab" id="conteudo-2">
                        <p class="title">Acesse os resultados e as análises dos seus alunos!</p>
                        <p>Para identificar os dados dos seus alunos individualmente, como média, defasagem e desempenho por habilidade específica, além de receber sugestões personalizadas de Materiais Didáticos, você pode acessar a página abaixo.</p>

                        <button class="botao_primario" onclick="window.location.href='/alunos/verTodos'">Ver Alunos</button>
                    </div>
                </div>
            </section>
        </section>

        <section class="avaliacoes">
            <h3>Avaliações</h3>
            <div class="avaliacoes_cards">
                <article class="card_avaliacao">
                    <p class="card_avaliacao_tag">Avaliação</p>
                    <a href="/avaliacoes/cadastrar">
                        <figure class="card_avaliacao_img">
                            <div class="card_avaliacao_bg"></div>
                            <img src="https://nova-escola-producao.s3.amazonaws.com/rj7MCqsaaaSMsQzdU6srCuNp5Fep4VaeBksJWKk54HdwnKTF7y2KRfRC9JtS/coluna-paula-sestari.jpg" alt="" class="card_img">
                        </figure>
                        <div class="card_avaliacao_info">
                            <p>Cadastrar Avaliação</p>
                            <p class="card_txt">Criar avaliações com qualidade e praticidade é fundamental para educadores. Portanto, na Athena você pode cadastrar avaliações para diversas áreas do conhecimento e reutilizá-las.</p>
                        </div>
                    </a>
                </article>
                <article class="card_avaliacao">
                    <p class="card_avaliacao_tag">Avaliação</p>
                    <a href="/avaliacoes">
                        <figure class="card_avaliacao_img">
                            <div class="card_avaliacao_bg"></div>
                            <img src="https://nova-escola-producao.s3.amazonaws.com/4JCqwdPj6qbfZ9f22xpagNZRVkNrY54ys9ut9PQ3CAMnJcMNFS8xJHKbyHz5/avaliacao-matematica.jpg" alt="" class="card_img">
                        </figure>
                        <div class="card_avaliacao_info">
                            <p>Visualizar Avaliações
                            </p>
                            <p class="card_txt">Visualize suas avaliações com facilidade e organização na plataforma Athena. Acesse todas as avaliações que você criou para suas turmas e disciplinas, de forma rápida e intuitiva.</p>
                        </div>
                    </a>
                </article>
                <article class="card_avaliacao">
                    <p class="card_avaliacao_tag">Avaliação</p>
                    <a href="/avaliacoes">
                        <figure class="card_avaliacao_img">
                            <div class="card_avaliacao_bg"></div>
                            <img src="https://nova-escola-producao.s3.amazonaws.com/rbdj8QHC2uCX7Pm83sqxARqzDExMDDG8XNEJwFv2fMtX6NHKrEZuX3NzsJuu/coluna-paula-sestari.jpg" alt="" class="card_img">
                        </figure>
                        <div class="card_avaliacao_info">
                            <p>Inserir Resultados</p>
                            <p class="card_txt">Insira os resultados das avaliações de maneira simples e eficiente na plataforma Athena. Registre as notas e desempenho dos alunos de forma organizada, garantindo uma gestão precisa do progresso educacional. Com apenas alguns cliques, você poderá atribuir os resultados individuais de cada aluno, gerando relatórios personalizados e facilitando a análise do desempenho da turma</p>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>
</body>
</html>