<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Resultados</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/inserirResultados.css">
</head>
<body>
    <h1 class="titulo">Inserir Resultados</h1>
    <div class="filtro">
        <input class="filtro_botao" type="checkbox" id="filtro">
        <label for="filtro" class="filtro_header">Matéria</label>
        <div class="filtro_lista">
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 1">
                <label class="label" for="teste 1">teste 1</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 2">
                <label class="label" for="teste 2">teste 2</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 3">
                <label class="label" for="teste 3">teste 3</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 4">
                <label class="label" for="teste 4">teste 4</label>
            </div>
        </div>
    </div>
    <div class="filtro">
        <input class="filtro_botao" type="checkbox" id="filtro2">
        <label for="filtro2" class="filtro_header">Aluno</label>
        <div class="filtro_lista">
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 1">
                <label class="label" for="teste 1">teste 1</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 2">
                <label class="label" for="teste 2">teste 2</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 3">
                <label class="label" for="teste 3">teste 3</label>
            </div>
            <div class="filtro_lista_checkbox">
                <input class="checkbox" type="checkbox" id="teste 4">
                <label class="label" for="teste 4">teste 4</label>
            </div>
        </div>
    </div>

    <div class="container_respostas">
        <h2 class="respostas">Respostas</h2>
        <hr class="divisor">
    </div>

    <div class="questoes_por_assunto">
        <div class="assunto">
            <p class="assunto_nome">Assunto 3</p>
            <input class="assunto_input" type="number" name="assunto" id="assunto 3" placeholder="Quantidade">
        </div>
        <div class="assunto">
            <p class="assunto_nome">Assunto 4</p>
            <input class="assunto_input" type="number" name="assunto" id="assunto 4" placeholder="Quantidade">
        </div>
    </div> 

    <button class="botao_primario botao_salvar">Salvar</button>
</body>
</html>