<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Alunos</title>
    <link rel="stylesheet" href="..\css\listarAlunos.css"> 
    <link rel="stylesheet" href="..\css\styles.css">
</head>
<body>
    <h1 class="seus_alunos">Seus Alunos</h1> 

    <br>
    <div class="barra_pesquisa">
        <input type="text" placeholder="Buscar por nome">
        <button class= "botao_pesquisa "><img class= "icone_pesquisar" src="../assets/icone_pesquisar.png" alt= "ícone pesquisar"></button>
    </div>
    <br>
    <ul class="lista_alunos">
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 1 </li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 2 </li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 3 </li> 
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 4 </li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 5 </li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 6 </li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 7 </li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 8 </li> 
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 9 </li>
        <li class="aluno"><img class="aluno_imagem" src="../assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 10 </li>
    </ul>
    <button class="botao_primario">Ver Todos</button>
</body> 
</html> 