<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/loginCadastro.css">
</head>

<body>
    <main class="conteudo">
        <figure>
            <img class="conteudo_logo" src="../assets/athena_logo.png" alt="Logo da Athena">
        </figure>

        <section class="conteiner_cadastro">

            <article class="container_cadastro_titulo">
                <h1 class="conteudo_titulo">Cadastre-se</h1>
            </article>

            <!-- Início - Formulário de Cadastro -->
            <form class="conteiner_cadastro_form" method="post" action="" enctype="multipart/form-data">
                <fieldset class="conteudo_input">
                    <legend>Seção para cadastrar nome, email e senha</legend>
                    <div class="input-container">
                        <input type="text" id="input-nome" placeholder=" " required="">
                        <label for="input-nome" class="label">Nome</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container">
                        <input type="email" id="input-email" placeholder=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="email inválido" required="">
                        <label for="input-email" class="label">Email</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container">
                        <input type="email" id="input-email" placeholder=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="email diferente" required="">
                        <label for="input-email" class="label">Confirmar Email</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" id="input-senha" required="">
                        <label for="input-senha" class="label">Senha</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" id="input-senha" required="">
                        <label for="input-senha" class="label">Confirmar Senha</label>
                        <div class="underline"></div>
                    </div>
                </fieldset>
                <button type="submit" class="botao_primario">Criar Conta</button>
            </form>
            <!-- Fim - Formulário de Cadastro -->

        </section>
        <article class="imagens">
            <figure>
                <img class="conteudo_novaEscola" src="../assets/nova_escola_logo.png" alt="Logo da Nova Escola">
            </figure>
           
            <figure>
                <img class="conteudo_inteli" src="../assets/inteli_logo.png" alt="Logo do Inteli">
            </figure>
        </article>
    </main>
</body>

</html>