<!DOCTYPE html> 
<html lang="pt-br"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Turma</title>
    <link rel="stylesheet" href="views\css\turma.css"> 
    <link rel="stylesheet" href="views\css\styles.css">
</head> 
<body>
    <h1 class="materia">[Matéria] Nome da Turma</h1> 
    <p class="media">Média Geral: XX</p> 
    <p class="defasagem">Defasagem Média: XX</p> 

    <h2 class="titulo">Sobre a Turma</h2>
    <p class="grafico">Gráfico da Média</p>
    <button class="botao_primario">Detalhar</button>
    <p class="grafico">Gráfico da Defasagem</p>
    <button class="botao_primario">Detalhar</button>
    <h2 class="titulo">Alunos</h2>
    <ul class="lista_alunos">
        <li class="aluno"><img class="aluno_imagem" src="/assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 1</li>
        <li class="aluno"><img class="aluno_imagem" src="/assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 2</li>
        <li class="aluno"><img class="aluno_imagem" src="/assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 3</li> 
        <li class="aluno"><img class="aluno_imagem" src="/assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 4</li>
        <li class="aluno"><img class="aluno_imagem" src="/assets/icone_aluno_perfil.png" alt="Ícone de aluno">Aluno 5</li>
    </ul>
    <button class="botao_primario">Ver Todos</button>
    <h2 class="titulo">Planos de Aula Recomendados</h2>

    <div class="planos">
        <div class="planos_de_aula">
            <img class="plano_de_aula_imagem" src="/assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
            <div>
                <h3 class="assunto">Assunto</h3>
                <p>Título do plano de aula</p>
                <p class="descricao">Descrição do plano de aula</p>
            </div>
        </div>

        <div class="planos_de_aula">
            <img class="plano_de_aula_imagem" src="/assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
            <div>
                <h3 class="assunto">Assunto</h3>
                <p>Título do plano de aula</p>
                <p class="descricao">Descrição do plano de aula</p>
            </div>
        </div>

        <div class="planos_de_aula">
            <img class="plano_de_aula_imagem" src="/assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
            <div>
                <h3 class="assunto">Assunto</h3>
                <p>Título do plano de aula</p>
                <p class="descricao">Descrição do plano de aula</p>
            </div>
        </div>

        <div class="planos_de_aula">
            <img class="plano_de_aula_imagem" src="/assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
            <div>
                <h3 class="assunto">Assunto</h3>
                <p>Título do plano de aula</p>
                <p class="descricao">Descrição do plano de aula</p>
            </div>
        </div>
    </div>

    <button class="botao_primario">Editar</button>



</body> 
</html> 