<!DOCTYPE html> 
<html lang="pt-br"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Turma</title>
    <link rel="stylesheet" href="../css/turma.css"> 
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/cabecalho.js"></script>
</head> 
<body>
    <%- include('cabecalho') %>

    <main>
        <h1 class="materia">[<%= disciplina.nome.toUpperCase() %>] <%= turma.nome %></h1> 
        <p class="media">Média Geral: XX</p> 
        <p class="defasagem">Defasagem Média: XX</p> 

        <h2 class="titulo">Sobre a Turma</h2>
        <p class="grafico">Gráfico da Média</p>
        <button class="botao_primario">Detalhar</button>
        <p class="grafico">Gráfico da Defasagem</p>
        <button class="botao_primario">Detalhar</button>
        <h2 class="titulo">Alunos</h2>
        <ul class="lista_alunos">
            <% for (let aluno of alunos) { %>
            <li class="aluno"><img class="aluno_imagem" src="/assets/icone_aluno_perfil.png" alt="Ícone de aluno"><%= aluno.nome_aluno %></li>
            <% } %>
        </ul>
        <button class="botao_primario">Ver Todos</button>
        <h2 class="titulo">Planos de Aula Recomendados</h2>

        <div class="planos">
            <div class="planos_de_aula">
                <img class="plano_de_aula_imagem" src="/assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
                <div>
                    <h3 class="assunto">Assunto</h3>
                    <p>Título do plano de aula</p>
                    <p class="descricao">Descrição do plano de aula</p>
                </div>
            </div>

            <div class="planos_de_aula">
                <img class="plano_de_aula_imagem" src="/assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
                <div>
                    <h3 class="assunto">Assunto</h3>
                    <p>Título do plano de aula</p>
                    <p class="descricao">Descrição do plano de aula</p>
                </div>
            </div>

            <div class="planos_de_aula">
                <img class="plano_de_aula_imagem" src="/assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
                <div>
                    <h3 class="assunto">Assunto</h3>
                    <p>Título do plano de aula</p>
                    <p class="descricao">Descrição do plano de aula</p>
                </div>
            </div>

            <div class="planos_de_aula">
                <img class="plano_de_aula_imagem" src="/assets/bg_plano_de_aula.png" alt="Ícone plano de aula">
                <div>
                    <h3 class="assunto">Assunto</h3>
                    <p>Título do plano de aula</p>
                    <p class="descricao">Descrição do plano de aula</p>
                </div>
            </div>
        </div>
    </main>

    <button class="botao_primario">Editar</button>
</body> 
</html> 